<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SBSwifty3DTouchDynamic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EE312E21BEA04D300695407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EE312F61BEA04D400695407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EE313011BEA04D400695407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
